body{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
#map{
    height: 45vh;
}
.container-fluid{
    margin-top: 2vh;
}
.kaltura-image{
    background-color: grey;
    height: 45vh;
}
.kaltura-datatable{
    height: 100%;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
#datatable_filter {
  float: left !important;
}
.dt-buttons{
  float: right !important;
}
table.dataTable tbody > tr.selected {
  background-color: #007bff
}
table.dataTable.display tbody > tr.even.selected > .sorting_1  {
  background-color: #007bff
}
table.dataTable.stripe tbody>tr.odd.selected, table.dataTable.stripe tbody>tr.odd>.selected, table.dataTable.display tbody>tr.odd.selected, table.dataTable.display tbody>tr.odd>.selected {
  background-color: #007bff
}
table.dataTable.display tbody>tr.odd.selected>.sorting_1{
  background-color: #007bff
}
